:root {
    /* ### Primary */

--Cyan: hsl(179, 62%, 43%);
--Cyan2: hsl(179, 61%, 44%);
--Cyan3: hsl(179, 47%, 52%);
--Bright-Yellow: hsl(71, 73%, 54%);

/* ### Neutral */

--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(226, 8%, 67%);
--White: hsl(0, 0%, 100%);
--Shadow: 0 5px 25px 5px hsl(209, 46%, 86%);
--Shadow2: 0 5px 25px 5px hsl(180, 63%, 39%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--Light-Gray);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 90rem; */
}

article {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 29.5rem;
    background: var(--White);
    box-shadow: var(--Shadow);
    border-radius: 0.5rem;
    overflow: hidden;
}

.section.card1{
    display: flex;
    height: 45%;
    padding: 2rem;
}

.section.card1 .title {
    color: var(--Cyan);
    padding: 0.8rem 0;
}

.section.card1 .sub-title {
    color: var(--Bright-Yellow);
    padding-bottom: 1rem;
}

.section.card1 .desc {
    color: var(--Grayish-Blue);
    line-height: 1.6rem;
    font-weight: 500;
}

.section.card2 {
    display: flex;
    flex-direction: row;
    width: 40rem;
    height: 55%;
    background: var(--White);
}

.wrapper.wrap1 {
    background: var(--Cyan2);
    width: 50%;
    padding: 2.2rem;
}

.wrap1 .title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--Light-Gray);
    padding-bottom: 1.2rem;
}

.pricing {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.pricing .fee {
    font-size: 2rem;
    font-weight: 600;
    color: var(--Light-Gray);
}

.pricing .status {
    font-size: 1rem;
    font-weight: 200;
    color: var(--Light-Gray);
}

.wrapper.wrap1 .access {
    font-size: 1rem;
    font-weight: 400;
    color: var(--Light-Gray);
    padding-bottom: 1.5rem;
}

.wrapper.wrap2 {
    background: var(--Cyan3);
    width: 50%;
    padding: 2.2rem;
}

.wrap2 .title {
    font-size: 1.05rem;
    padding-bottom: 1.2rem;
    color: var(--Light-Gray)
}

.section.card2 .sub-title {
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1.3rem;
    color: var(--Light-Gray);
}

button {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    height: 3rem;
    background: var(--Bright-Yellow);
    color: var(--White);
    box-shadow: var(--Shadow2);
    border-radius: 0.3rem;
    cursor: pointer;
}


@media screen and (max-width: 41rem ) {
    article {
        width: 20rem;
        height: 100%;
    }

    .section.card1 {
        height: 35%;
    }

    .section.card1 .title {
        font-size: 1.2rem;
    }

    .section.card1 .sub-title {
        font-size: 0.9rem;
    }

    .section.card1 .desc {
        font-size: 0.8rem;
    }

    .section.card2 {
        flex-direction: column;
    }
}